<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1> Welcome to spring boot security page!</h1>
<h2>Your username is: <span th:text="${#authentication.getPrincipal().getUsername()}"></span></h2>
<table>
    <thead>
    <tr>
        <th>Your roles</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="role : ${#authentication.getPrincipal().getAuthorities}">
        <tr>
            <td th:text="${role.toString}"></td>
        </tr>
    </th:block>
    </tbody>
</table>
<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>