<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
</head>
<body class="bg-light">
<div class="container-fluid ">
    <div class="row bg-dark">
        <div class="col-md-8 text-white">
            <h>
                <h4>
                    <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
                    <span class="font-weight-normal"> with roles:</span>
                    <span th:text="${#authentication.getPrincipal().rolesToString()}"></span>
                </h4>
            </h>


        </div>
        <div class="col-md-4">
            <a class="float-right text-white-50" href="/logout">Logout</a>
        </div>
    </div>
    <div class="container-fluid" style="padding: 0px;">
        <div class="row bg-light" style="padding-top: 10px">
            <div class="col-md-2 p-0 bg-white" style=" height: 95vh;">
                <a sec:authorize="hasRole('ROLE_ADMIN')" href="/admin">
                    <button type="button" class="btn btn-block text-primary">
                        Admin
                    </button>
                </a>
                <a href="/user">
                    <button type="button" class="btn btn-block btn-primary">
                        User
                    </button>
                </a>
            </div>

            <div class="col-md-10 bg-light">
                <h3>
                    User information-page
                </h3>
                <table class="table table-striped bg-white border">
                    <caption class="text-body border-top rounded-top border-left border-right bg-light"
                             style="caption-side: top;">
                        <h5 style="position: relative; left: 10px; top: 2px; font-size: 23px">About user</h5>
                    </caption>
                    <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            First Name
                        </th>
                        <th>
                            Last Name
                        </th>
                        <th>
                            Age
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Role
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <span th:text="${#authentication.getPrincipal().getId()}"></span>
                        </td>
                        <td>
                            <span th:text="${#authentication.getPrincipal().getFirstName()}"></span>
                        </td>
                        <td>
                            <span th:text="${#authentication.getPrincipal().getLastName()}"></span>
                        </td>
                        <td>
                            <span th:text="${#authentication.getPrincipal().getAge()}"></span>
                        </td>
                        <td>
                            <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
                        </td>
                        <td>
                            <span th:text="${#authentication.getPrincipal().rolesToString()}"></span>
                        </td>
                    </tr>

                    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                            crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                            crossorigin="anonymous"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                            crossorigin="anonymous"></script>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>